<!DOCTYPE html>
<html>
  <head>
    <title>Bandwagun</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="nav-main">
        <label><i class="centered fa fa-bars pointer" aria-hidden="true"></i>
      <input type="checkbox" />
      <ul>
        <li><a><i class="fa fa-times pointer"></i></a></li>
        <li><%= link_to "Home", concerts_path %></li>
        <li><a href="#">About</a></li>
        <li><a href="mailto:bandwaguninfo@gmail.com">Contact Us</a></li>
        <li><a href="#">Get Lost</a></li>
        <li><a href="#">Another Item</a></li>
        <li><a href="#">Fancy Pants</a></li>
        <% if user_signed_in? %>
        <li class=signin><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <li class=username>Signed in as <%= current_user.first_name %> <%=current_user.last_name %></li>
        <li><img class=profile_pic src="<%= current_user.profile_photo %>"></img></li>
        <% else%>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <%end%>
      </ul>
    </label>
  </nav>
    <div class="logo">
      <%= image_tag "logo-no-border-white.png" %>
    </div>
    <%= yield %>>
    <div id="app"></div>
  </body>

  </html>
